* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: 'text.primary';
}

.task {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 4%;
  margin: 1%;
}

.task-field {
  width: auto;
  font-size: 20px;
  border-bottom: solid 5px orange;
}

.card-task {
  display: flex;
  flex-direction: row;
  width: auto;
  align-items: center;
  border-top: solid 5px orange;
}

.actions {
  display: flex;
  border: none;
}
